@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.elkit-demo {
  width: 1024px;
}

.elkit-demo .elkit-wnd {
  box-shadow: 0 0 20px #8080808c;
}

.elkit-fontIcon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.elkit-theme--light,
.elkit-theme--dark {
  --elkit-fontFamily: 'Open Sans', sans-serif;

  --elkit-wnd-borderRadius: 4px;

  --elkit-toolbar-borderRadius: 3px;
  --elkit-toolbar-fontFamily: var(--elkit-fontFamily);
  --elkit-toolbar-fontWeight: bold;
  --elkit-toolbar-fontSize: 12px;

  --elkit-sidebar-fontFamily: var(--elkit-fontFamily);
  --elkit-sidebar-fontSize: 12px;
}

.elkit-theme--light {
  --elkit-textColor: #7a7a7a;

  --elkit-wnd-borderColor: #9d9d9d;

  --elkit-toolbar-borderBottomColor: #989898;
  --elkit-toolbar-textColor: var(--elkit-textColor);
  --elkit-toolbar-textShadowColor: #d6d0cb;
  --elkit-toolbar-boxShadowLeftColor: #cfcfcf;
  --elkit-toolbar-boxShadowRightColor: #cfcfcf;
  --elkit-toolbar-boxShadowTopColor: #f6f6f6;
  --elkit-toolbar-boxShadowBottomColor: #cfcfcf;
  --elkit-toolbar-gradientColorFrom: #e6e6e6;
  --elkit-toolbar-gradientColorTo: #c4c4c4;
}

.elkit-theme--dark {
  --elkit-textColor: #acb3b1;

  --elkit-wnd-borderColor: #141414;

  --elkit-toolbar-borderBottomColor: #222426;
  --elkit-toolbar-textColor: var(--elkit-textColor);
  --elkit-toolbar-textShadowColor: #0000004d;
  --elkit-toolbar-boxShadowLeftColor: #ffffff1a;
  --elkit-toolbar-boxShadowRightColor: #ffffff1a;
  --elkit-toolbar-boxShadowTopColor: #ffffff1a;
  --elkit-toolbar-boxShadowBottomColor: #ffffff0d;
  --elkit-toolbar-gradientColorFrom: #3a4144;
  --elkit-toolbar-gradientColorTo: #323739;
}

.elkit-wnd {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid var(--elkit-wnd-borderColor);
  border-radius: var(--elkit-wnd-borderRadius);
}

.elkit-wnd * {
  box-sizing: border-box;
}

.elkit-fontIcon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.elkit-toolbar {
  display: flex;
  justify-content: space-between;

  border-bottom:
    1px solid var(--elkit-toolbar-borderBottomColor);

  border-top-left-radius: var(--elkit-toolbar-borderRadius);
  border-top-right-radius: var(--elkit-toolbar-borderRadius);

  padding: 8px 16px;
  padding-top: 9px;
  font-family: var(--elkit-toolbar-fontFamily);
  font-weight: var(--elkit-toolbar-fontWeight);
  font-size: var(--elkit-toolbar-fontSize);
  color: var(--elkit-toolbar-textColor);
  text-shadow: 0 1px var(--elkit-toolbar-textShadowColor);

  box-shadow:
    0 0 1px 1px var(--elkit-toolbar-gradientColorFrom),
    inset 1px 0px 0px 0 var(--elkit-toolbar-boxShadowLeftColor),
    inset -1px 0px 0px 0 var(--elkit-toolbar-boxShadowRightColor),
    inset 0 1px 0 0 var(--elkit-toolbar-boxShadowTopColor),
    inset 0 -1px 0 0 var(--elkit-toolbar-boxShadowBottomColor);

  background-image: linear-gradient(
    to bottom,
    var(--elkit-toolbar-gradientColorFrom),
    var(--elkit-toolbar-gradientColorTo)
  );
}

.elkit-toolbarBtn {
  display: flex;
  outline: 0;
  border: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

.elkit-toolbarBtn::-moz-focus-inner {
  border: 0;
}

.elkit-toolbarBtn:disabled {
  opacity: 0.5;
}

.elkit-toolbarBtn + .elkit-toolbarBtn {
  margin-left: 20px;
}

.elkit-toolbarTitle {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elkit-wndBody {
  flex-grow: 1;
}

.elkit-paneGroup {
  display: flex;
}

.elkit-wndBody > .elkit-paneGroup {
  height: 100%;
}

.elkit-sidebar {
  width: 194px;
  overflow: auto;
  border-right: 1px solid #a6a6a6;
  font-family: var(--elkit-sidebar-fontFamily);
  font-size: var(--elkit-sidebar-fontSize);
  background-color: #e2e2e2;
}

.elkit-navGroup-title {
  padding: 18px 8px 6px;
  font-weight: bold;
  color: #707070;
}

.elkit-navGroup-item {
  display: flex;
  align-items: center;
  height: 24px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 2px 10px 2px 18px;
  font-size: 11.5px;
  color: #7e7c7d;
  text-shadow: 0 1px rgba(255, 255, 255, .23);
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

.elkit-navGroup-item + .elkit-navGroup-item {
  margin-top: 2px;
}

.elkit-navGroup-item--active {
  border-top-color: #a9a9a9;
  border-bottom-color: #bdbdbd;

  background-image: linear-gradient(
    to bottom,
    #c5c5c5 0%,
    #d2d2d2 100%
  );
}

.elkit-navGroup-itemIcon {
  margin-right: 6px;
}
