@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.elkit-theme--dark {
  --elkit-fontFamily: 'Open Sans', sans-serif;
  --elkit-textColor: #acb3b1;

  --elkit-wnd-borderColor: #141414;
  --elkit-wnd-borderRadius: 4px;

  --elkit-toolbar-borderBottomColor: #222426;
  --elkit-toolbar-borderRadius: 3px;
  --elkit-toolbar-fontFamily: var(--elkit-fontFamily);
  --elkit-toolbar-fontSize: 12px;
  --elkit-toolbar-fontWeight: bold;
  --elkit-toolbar-textColor: var(--elkit-textColor);
  --elkit-toolbar-textShadowColor: #0000004d;
  --elkit-toolbar-boxShadowLeftColor: #ffffff1a;
  --elkit-toolbar-boxShadowRightColor: #ffffff1a;
  --elkit-toolbar-boxShadowTopColor: #ffffff1a;
  --elkit-toolbar-boxShadowBottomColor: #ffffff0d;
  --elkit-toolbar-gradientColorFrom: #3a4144;
  --elkit-toolbar-gradientColorTo: #323739;
}
