.elkit-toolbar {
  display: flex;
  justify-content: space-between;

  border-bottom:
    1px solid var(--elkit-toolbar-borderBottomColor);

  border-top-left-radius: var(--elkit-toolbar-borderRadius);
  border-top-right-radius: var(--elkit-toolbar-borderRadius);

  padding: 8px;
  padding-top: 9px;
  font-family: var(--elkit-toolbar-fontFamily);
  font-size: var(--elkit-toolbar-fontSize);
  font-weight: var(--elkit-toolbar-fontWeight);
  color: var(--elkit-toolbar-textColor);
  text-shadow: 0 1px var(--elkit-toolbar-textShadowColor);

  box-shadow:
    0 0 1px 1px var(--elkit-toolbar-gradientColorFrom),
    inset 1px 0px 0px 0 var(--elkit-toolbar-boxShadowLeftColor),
    inset -1px 0px 0px 0 var(--elkit-toolbar-boxShadowRightColor),
    inset 0 1px 0 0 var(--elkit-toolbar-boxShadowTopColor),
    inset 0 -1px 0 0 var(--elkit-toolbar-boxShadowBottomColor);

  background-image: linear-gradient(
    to bottom,
    var(--elkit-toolbar-gradientColorFrom),
    var(--elkit-toolbar-gradientColorTo)
  );
}

.elkit-toolbar-headerBtn,
.elkit-toolbar-appIconBtn {
  display: flex;
  outline: 0;
  border: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

.elkit-toolbar-headerBtn:disabled,
.elkit-toolbar-appIconBtn:disabled {
  opacity: 0.5;
}

.elkit-toolbar-headerBtn + .elkit-toolbar-headerBtn,
.elkit-toolbar-headerBtn + .elkit-toolbar-appIconBtn,
.elkit-toolbar-appIconBtn + .elkit-toolbar-headerBtn {
  margin-left: 20px;
}

.elkit-toolbar-appIconBtn + .elkit-toolbar-appIconBtn {
  margin-left: 15px;
}
